*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(to right, #00FF99, #FFF);
    font-family: 'Roboto', sans-serif;
}
.col{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap;
}
.bolla {
    background-color: black; 
    border-radius: 15px;
}
.plus,
.minus {
    color: white;
    font-size: 50px;
}
.counter{
    font-size: 50px;
    color: #FFF;
}